<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AuthMapper">

    <resultMap type="AuthDTO" id="AuthInDbMap">
        <id property="authAssociationId" column="auth_association_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="adminUserId" column="admin_user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="adminUserName" column="admin_user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="lastModifyTime" column="last_modify_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="authCategory" column="auth_category" javaType="String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="com.constant.AuthStatus" jdbcType="VARCHAR"
                typeHandler="com.handler.UpperCaseFieldNameEnumHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        auth_association_id,
        user_id,
        user_name,
        admin_user_id,
        admin_user_name,
        create_time,
        last_modify_time,
        auth_category,
        status
    </sql>

    <sql id="insertColList">
        dbSplitKey,
        auth_association_id,
        user_id,
        user_name,
        admin_user_id,
        admin_user_name,
        create_time,
        auth_category,
        status
    </sql>

    <select id="queryUserAuthsByUserId"  resultMap="AuthInDbMap">
        select
        <include refid="Base_Column_List" />
        from `t_u_auths_grant_details`where dbSplitKey=#{dbKey} and user_id=#{uid}
    </select>

    <select id="queryUserAuthByUserIdAndAuthName"  resultMap="AuthInDbMap">
        select
        <include refid="Base_Column_List" />
        from `t_u_auths_grant_details`where dbSplitKey=#{dbKey} and user_id=#{uid} and auth_category=#{authName}
    </select>

    <insert id="inserAuth" parameterType="AuthDTO">
        insert
    </insert>

    <update id="updateUserAuth" parameterType="AuthDTO">
        update `t_u_auths_grant_details`
        set admin_user_id=#{adminUserId},admin_user_name=#{adminUserName},
              create_time=#{createTime},status=#{status}
    </update>
</mapper>