<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AuthMapper">

    <resultMap type="AuthDTO" id="userInDbMap">
        <id property="authAssociationId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="adminUserId" column="admin_user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="adminUserName" column="admin_user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="String" jdbcType="VARCHAR"/>
        <result property="lastModifyTime" column="last_modify_time" javaType="String" jdbcType="VARCHAR"/>
        <result property="authCategory" column="auth_category" javaType="com.constant.AuthStatus" jdbcType="VARCHAR"
                typeHandler="com.handler.UpperCaseFieldNameEnumHandler"/>
        <result property="status" column="status" javaType="com.constant.AuthStatus" jdbcType="VARCHAR"
                typeHandler="com.handler.UpperCaseFieldNameEnumHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        auth_association_id,
        user_id,user_name,
        admin_user_id,
        admin_user_name,
        create_time,
        last_modify_time,
        auth_category,
        status
    </sql>

    <select id="queryUserAuthsByUserId"  resultMap="userInDbMap">
        select
        <include refid="Base_Column_List" />
        from `t_u_auths_grant_detials`where dbSplitKey=#{dbKey} and user_id=#{uid} and auth_category=#{authName}
    </select>
</mapper>